<!DOCTYPE html>
<html lang="en" ng-app="TrustChainApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TrustChain Stadium Demo</title>

    <!-- Bootstrap -->
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/trustchain.css" rel="stylesheet">

    <link href="css/app.css" rel="stylesheet">

    <script src="../lib/angular.min.js"></script>
    <link href="../lib/loading-bar/loading-bar.css" rel="stylesheet">
    <script src="../lib/loading-bar/loading-bar.js"></script>
    <script src="../lib/angular-animate.min.js"></script>
    <script src="../lib/popper.js"></script>
    <!--<script src="js/lib/jquery-3.2.1.slim.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../lib/tether.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="TrustChainController as trustchain">
<nav class="navbar navbar-expand-md navbar-dark bg-trust fixed-top">
    <img class="logo navbar-brand" id="logo" src="../lib/logo_blue@0.5x.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="navbar navbar-expand-md navbar-dark bg-trust fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="padleft collapse navbar-collapse" id="navbarsExampleDefault">

        </div>
        <img class="logo navbar-brand" id="logo" src="../lib/logo_blue.png">

    </nav>

</nav>

<div class="container-fluid content">
    <div class="row">

        <!--ENTITLEMENT COLUMN-->
        <div class="col">
            <h2 class="columntitle">Entitlement Information</h2>

            <div ng-repeat="entitlementProperty in trustchain.entitlement" class="rule">
                <label class="custom-control custom-checkbox" tooltip title="{{entitlementProperty.idpName}}">
                    <input type="checkbox" class="custom-control-input ruleactive-{{entitlementProperty.isPresent}}"
                           ng-model="entitlementProperty.isPresent"
                           ng-click="trustchain.doCheck()"
                    >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{entitlementProperty.explanation}}</span>
                </label>
            </div>

            <div>
                <button type="button" class="btn btn-danger" ng-click="trustchain.entitleReset()">Reset Entitlement
                </button>
            </div>
        </div>

        <!--RESULT COLUMN-->
        <div class="col">
            <h2 class="columntitle">Result</h2>
            <img
                    ng-animate-swap="trustchain.entryAllowed + 1"
                    ng-src="img/entry-{{trustchain.entryAllowed}}.png"
                    class="resultImage swap-animation"
            >
            <div
                    ng-hide="trustchain.entryAllowed"
                    class="alert alert-danger animate-show-hide"
                    id="noEntryExplanation"
                    role="alert"
            >
                <strong>Violated Rules</strong>
                <p ng-repeat="explain in trustchain.violations track by $index"> {{explain}} </p>
            </div>
        </div>

        <!--RULE COLUMN-->
        <div class="col">
            <h2 class="columntitle">Active Rules</h2>
            <div ng-repeat="rule in trustchain.rules" class="rule">
                <label class="custom-control custom-checkbox " tooltip title="{{rule.constraint}}">
                    <input type="checkbox"
                           class="custom-control-input ruleactive-{{rule.isActive}}"
                           ng-model="rule.isActive"
                           ng-click="trustchain.doCheck()"
                    >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{rule.explanation}}</span>
                </label>
            </div>
            <div>
                <button type="button" class="btn btn-danger" ng-click="trustchain.ruleReset()">Reset Rules</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>