<!DOCTYPE html>
<html lang="en" ng-app="TrustChainApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TrustChain Medical Dossier Demo</title>

    <!-- Bootstrap -->
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">


    <script src="../lib/angular.min.js"></script>

    <link href="../lib/loading-bar/loading-bar.css" rel="stylesheet">
    <script src="../lib/loading-bar/loading-bar.js"></script>

    <script src="../lib/angular-animate.min.js"></script>
    <script src="../lib/popper.js"></script>
    <!--<script src="js/lib/jquery-3.2.1.slim.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../lib/angular-websocket.min.js"></script>
    <script src="../lib/tether.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>

    <script src="../lib/trustURLS.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="TrustChainController as trustchain">
<nav class="navbar navbar-expand-md navbar-dark bg-trust fixed-top">
    <a class="navbar-brand" href="#">TrustChain</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="container-fluid content">
    <div class="row">

        <div class="col">
            <div class="structBlock people">
                <h3>Doctors</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Access To Dossier</th>
                        <th>Referral</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in trustchain.model.people">
                        <th scope="row">{{person.name}}</th>
                        <td><span class="led-light {{person.access ? 'led-green' : 'led-red'}}"></span></td>
                        <td><span
                                class="led-light {{person.needReferral ? (person.referral ? 'led-green' : 'led-red') : 'led-blue'}}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="structBlock treatments">
                <h3>Treatments</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Prescription</th>
                        <th>Insurance Check</th>
                        <th>Guardian Check</th>
                        <th>Results Available</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="treat in trustchain.model.treatments">
                        <th scope="row">{{treat.name}}</th>
                        <td><span class="led-light {{treat.prescription ? 'led-green' : 'led-red'}}"></span></td>
                        <td><span class="led-light {{treat.insurance ? 'led-green' : 'led-red'}}"></span></td>
                        <td><span
                                class="led-light {{trustchain.model.hasGuardian ? (treat.guardian ? 'led-green' : 'led-red') : 'led-blue'}}"></span>
                        </td>
                        <td><span class="led-light {{treat.results ? 'led-green' : 'led-red'}}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="structBlock Cure">
                <h3>Cured <span class="led-light {{trustchain.model.cured ? 'led-green' : 'led-red'}}"></span></h3>

            </div>
        </div>

        <div class="col">
            <div class="act">
                <h3>Possible Actions</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-info"
                       ng-repeat="action in trustchain.model.actions" ng-click="trustchain.progress(action)" ng-if="action.name != 'Update'">
                        {{action.name}}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger"
                       ng-click="trustchain.resetSim()">
                        Reset Simulation
                    </a>
                </div>
            </div>
            <div style="margin-top: 25px";>
                <h3>Control TrustChain Stores</h3>
            </div>

        </div>

    </div>
</div>

</body>
</html>