body {
	padding-top: 5rem;
	background-size: cover;
	height: 100%;
	background-color: #0098f0 !important;
}
.content {
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
}

.padleft {
	margin-left: 40px;
}

#logo {
	text-align: right;
}

.padder {
	margin: 10px;
}

#codeArea {
	width: 100%;
	height: 100%;
	font-size: 32px;
	margin-top: 30px;
}

#errorPane{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}

#mapRow {
	height: 700px;
}

#map{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 5px;
}

#errorPane {
	width: 100%;
	background-color: black;
	color: red;
}

.leaflet-map-pane .leaflet-tile  .leaflet-overlay-pane .leaflet-container{
	border-radius: 10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
}

.CodeMirror {
	height: inherit;
	background-color: #111111;
	border-radius: 10px;
	border: 3px solid white;
}

.container {
	max-width: 1800px !important;
}

.modal-dialog {
	max-width: 1200px !important;
}

#sourcemodal {
	width: 90%;
	height: 80%;
}

.bg-trust {
	background-color: #0098f0;
}