<!DOCTYPE html>
<html lang="en" ng-app="TrustChainApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TrustChain Kiosk Configurator Demo</title>

    <!-- Bootstrap -->
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/trustchain.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">


    <script src="../lib/angular.min.js"></script>

    <link href="../lib/loading-bar/loading-bar.css" rel="stylesheet">
    <script src="../lib/loading-bar/loading-bar.js"></script>

    <script src="../lib/angular-animate.min.js"></script>
    <script src="../lib/popper.js"></script>
    <!--<script src="js/lib/jquery-3.2.1.slim.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../lib/angular-websocket.min.js"></script>
    <script src="../lib/tether.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/listgroup.min.js"></script>

    <script src="../lib/trustURLS.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="TrustChainController as trustchain">
<nav class="navbar navbar-expand-md navbar-dark bg-trust fixed-top">
    <div class="padleft collapse navbar-collapse" id="navbarsExampleDefault">
    </div>
    <img class="logo navbar-brand" id="logo" src="../lib/logo_blue.png">

</nav>
<div class="content">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="userId">Person</label>
                    <input type="user" class="form-control" id="userId" placeholder="GenericName" ng-model="trustchain.personid" ng-model-options="{debounce: 500}">
                </div>
                <div class="form-group">
                    <label for="subscriptions">Subscriptions</label>
                    <textarea class="form-control" id="subscriptions" rows="8" ng-model="trustchain.sites"></textarea>
                </div>
            </form>
            <br>
            <button type="button" ng-click="trustchain.submitAction()" class="btn btn-primary">Update Subscriptions</button>

            <div id="tcLog"></div>

        </div>
    </div>


</div>

</body>
</html>