<!DOCTYPE html>
<html lang="en" ng-app="TrustChainApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TrustChain Kiosk Demo</title>

    <!-- Bootstrap -->
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/trustchain.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">


    <script src="../lib/angular.min.js"></script>

    <link href="../lib/loading-bar/loading-bar.css" rel="stylesheet">
    <script src="../lib/loading-bar/loading-bar.js"></script>

    <script src="../lib/angular-animate.min.js"></script>
    <script src="../lib/popper.js"></script>
    <!--<script src="js/lib/jquery-3.2.1.slim.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../lib/angular-websocket.min.js"></script>
    <script src="../lib/tether.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>

    <script src="../lib/trustURLS.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="TrustChainController as trustchain">
<nav class="navbar navbar-expand-md navbar-dark bg-trust fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <span class="opts" ng-show="trustchain.state !== 'login'">
    <button ng-click="trustchain.goto()" class="btn btn-primary">Home</button>
    <button ng-repeat="i in trustchain.sites" ng-click="trustchain.goto(i.url)" class="btn btn-secondary"><img class="favicon" src="{{i.url}}/favicon.ico">{{i.name}}</button>
    <button ng-click="trustchain.logout()" class="btn btn-primary" >Log Out</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </span>
    </div>
    <img ng-show="trustchain.state == 'login'" class="logo navbar-brand" id="logo" src="../lib/logo_blue.png">
    <img ng-show="trustchain.state !== 'login'" class="logo navbar-brand" id="logo" src="../lib/logo_blue@0.5x.png">

</nav>
<embed ng-show="trustchain.state == 'site'" type="text/html" ng-src="{{trustchain.url}}"></embed>
<div class="content" ng-show="trustchain.state != 'site'">
<div class="viewer" ng-show="trustchain.state == 'home'">
    <div style="text-align: center;">
    <div ng-repeat="i in trustchain.sites" class="thumbnail-container">
        <div ng-click="trustchain.goto(i.url)">
            <img style="height: 200px" src="https://images.thumbshots.com/image.aspx?v=1&cid=x9EnipGGUOg&url={{i.url}}">
            <!--<iframe src="{{i.url}}" frameborder="0" onload="this.style.opacity = 1"></iframe>-->
        </div>
    </div>
    <h1>Rescan your card <br> to clear your data</h1>
    </div>
</div>

<div class="viewer" ng-show="trustchain.state == 'login'">
    <span class="midder">
        <h1>Show your subscriptions? <br>Scan your card</h1>
    </span>
</div>

</div>

</body>
</html>