body {
  font-family: 'Muli', sans-serif;
}
hr {
  padding-bottom: 100px;
}
.navbar {
  padding: 20px 0;
}
.navbar .navbar-nav .nav-link:hover {
  color: #000;
}
.navbar #logo {
  margin-left: 40px;
}
.navbar li {
  margin-left: 40px;
}
.navbar .navbar-toggler {
  margin-right: 20px;
}
/*header {*/
  /*background: url(../img/bg.png) no-repeat;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*background-position: right 98px;*/
  /*margin-top: 80px;*/
  /*padding-top: 190px;*/
  /*padding-bottom: 300px;*/
  /*background-size: 60%;*/
/*}*/
.heading-card {
  background-color: #f1f1f1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.heading-card .heading-card-inner {
  padding: 50px;
}
.heading-card .heading-card-inner h1 {
  font-size: 42px;
  font-weight: 900;
  color: #4d4d4d;
}
.heading-card .heading-card-inner p {
  margin-bottom: 40px;
  font-size: 16px;
  color: #7e7e7e;
}
button {
  background-color: #0098f0;
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  transition: .2s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
button:hover {
  transition: .2s;
  margin-top: -5px;
  margin-bottom: 5px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button i {
  margin-left: 10px;
}
.about h1 {
  color: #0098f0;
  font-weight: 900;
  font-size: 42px;
  padding-bottom: 60px;
}
.about h2 {
  color: #4d4d4d;
  font-weight: 700;
  font-size: 20px;
}
.about p {
  color: #7e7e7e;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 100px;
}
.how h1 {
  margin-top: 20px;
  color: #0098f0;
  font-weight: 900;
  font-size: 42px;
}
.card {
  border: none;
  background-color: #fff;
  margin-bottom: 10px;
  transition: .5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.card:hover {
  background-color: #f1f1f1;
  transition: .2s;
}
.card .card-inner {
  margin: 30px;
}
.card .number {
  color: #0098f0;
}
.card h3 {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 900;
}
.card p {
  margin-left: 20px;
  color: #7e7e7e;
  font-size: 14px;
}
.product-img {
  display: none;
}
.product {
  height: 100%;
  background: url(../img/image3.png) no-repeat;
  background-position: left -70px;
  padding-bottom: 100px;
}
.contact {
  padding-bottom: 100px;
}
.contact h1 {
  color: #0098f0;
  font-weight: 700;
}
.contact #email {
  -ms-transform: rotate(-12deg);
  /* IE 9 */
  -webkit-transform: rotate(-12deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-12deg);
  margin-top: -50px;
  margin-bottom: 20px;
}
.contact .item {
  position: relative;
  height: 180px;
  padding: 20px 15px 10px 10px;
  cursor: pointer;
}
.contact .item h3 {
  color: #0098f0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
}
.contact .item h4 {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}
.contact .item a {
  position: absolute;
  font-size: 16px;
  color: #000;
  bottom: 20px;
  left: 15px;
}
.contact .item i {
  font-size: 20px;
  font-weight: 900;
  opacity: .5;
}
.contact .item:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
}
footer {
  padding: 50px 0;
  background-color: #222222;
  color: #ffffff;
}
footer h1 {
  font-size: 20px;
  font-weight: 700;
}
footer p {
  font-size: 16px;
  font-weight: 100;
}
footer .form {
  width: 100%;
  height: 50px;
  background-color: #fff;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
}
footer .form input[type=text],
footer .form input[type="email"] {
  margin-top: 12px;
  margin-left: 20px;
  width: 40%;
  border: none;
  transition: .2s;
}
footer .form input[type=text]:focus,
footer .form input[type="email"]:focus {
  outline: none;
  font-size: 17px;
  transition: .2s;
}
footer .form input[type=text]::placeholder,
footer .form input[type="email"]::placeholder {
  color: #b1b1b1;
  font-width: 200;
}
footer .form input[type=text]:first-child,
footer .form input[type="email"]:first-child {
  border-right: 1px solid #cbcbcb;
}
footer .form input[type=submit] {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #0098f0;
  float: right;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  transition: .2s;
}
footer .form input[type=submit]:hover {
  margin-top: -5px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: .2s;
}
footer .form input[type=submit]:focus {
  outline: none;
}
.copyrights {
  color: #fff;
  padding: 30px 20px;
  background-color: #181818;
}
/* Media queries */
@media only screen and (max-width: 500px) {
  .navbar-nav {
    -webkit-box-shadow: 0px 4px 24px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 24px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 24px -10px rgba(0, 0, 0, 0.75);
  }
  .navbar-nav a {
    margin: 10px 0;
    font-size: 18px;
  }
  .navbar-light .navbar-toggler {
    color: #0098f0;
    border-color: #0098f0;
  }
  hr {
    padding-bottom: 20px;
  }
  header {
    background-size: 100%;
    background-position: center 50px;
    padding-bottom: 65px;
  }
  .heading-card {
    margin-top: 180px;
  }
  .heading-card .heading-card-inner h1 {
    font-size: 22px;
  }
  .about p {
    padding-bottom: 50px;
  }
  .product {
    background: none;
    padding-bottom: 20px;
  }
  .product-img {
    display: block;
    margin-top: -20px;
  }
  .contact {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
  }
  .contact #email {
    margin-top: 0px;
  }
  .contact .item {
    height: 140px;
  }
  footer .newsletter {
    margin-top: 50px;
  }
  footer .form {
    background-color: #222222;
    margin-bottom: 50px;
  }
  footer .form input[type=text],
  footer .form input[type="email"] {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 75%;
    height: 60px;
    margin-left: 0px;
    margin-right: 50px;
  }
  footer .form input[type=submit] {
    margin-left: -10px;
    margin-top: -60px;
    height: 60px;
    width: 60px;
    z-index: 999;
  }
  footer .form input[type=submit]:hover {
    margin-left: -10px;
    height: 60px;
    width: 60px;
    margin-top: -60px;
  }
}
