<!DOCTYPE html>
<html lang="en" ng-app="TrustChainApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TrustChain Ban Demo</title>

    <!-- Bootstrap -->
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/trustchain.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">


    <script src="../lib/angular.min.js"></script>

    <link href="../lib/loading-bar/loading-bar.css" rel="stylesheet">
    <script src="../lib/loading-bar/loading-bar.js"></script>

    <script src="../lib/angular-animate.min.js"></script>
    <script src="../lib/popper.js"></script>
    <!--<script src="js/lib/jquery-3.2.1.slim.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../lib/angular-websocket.min.js"></script>
    <script src="../lib/tether.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/listgroup.min.js"></script>

    <script src="../lib/trustURLS.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="TrustChainController as trustchain">
<nav class="navbar navbar-expand-md navbar-dark bg-trust fixed-top">
    <div class="padleft collapse navbar-collapse" id="navbarsExampleDefault">
    </div>
    <img class="logo navbar-brand" id="logo" src="../lib/logo_blue.png">

</nav>
<div class="content">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <span class="input-group-addon" id="basic-addon1">Select Match</span>


            <div class="list-group">
                <a href="#" ng-repeat="i in trustchain.matches" class="list-group-item">{{i}}</a>
            </div>
        </div>
        <div class="col-md-3">
            <span class="input-group-addon" id="basic-addon1">Person</span>
            <input type="text" class="form-control" ng-model="trustchain.personid">
            <br>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" ng-click="trustchain.submitAction(true)" class="btn btn-danger">Ban</button>
                <button type="button" ng-click="trustchain.submitAction(false)" class="btn btn-success">Unban</button>
            </div>
            <div id="tcLog"></div>

        </div>
    </div>


</div>

</body>
</html>