body {
    padding-top: 8rem;
    background-size: cover;
    background: url("../../lib/bglight2.png") no-repeat fixed;
    background-size: cover;

    color: black;
}
.content {
    padding: 3rem 1.5rem;
    text-align: center;
}

.columntitle {
    padding-bottom: 20px;
}

.rule {
    text-align: left;
}

.resultImage {
    width: 300px;
    margin: 50px;
}

#noEntryExplanation {
    text-align: left;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.2s;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
    transition: all linear 0.2s;
}
.swap-animation.ng-enter {
    opacity: 0;
    position: absolute;
}
.swap-animation.ng-enter-active {
    opacity: 1;
    position: absolute;
}
.swap-animation.ng-leave {
    opacity: 1;
    position: relative;
}
.swap-animation.ng-leave-active {
    opacity: 0;
    position: relative;
}

.cell {
    font-size:150px;
    text-align:center;
    line-height:250px;
    top:0;
    left:0;
    right:0;
    border-bottom:2px solid black;
}


.list-group-item.ruleactive-true{
    z-index:2;
    color:#fff;
    background-color:#28a745;
    border-color:#28a745
}

.list-group-item.ruleactive-false{
    z-index:2;
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545
}

.bg-trust {
    background-color: #0098f0;
}

#logo {
    text-align: right;
}
